@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  background-color: #4A4A4A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

#anuncio-seccion {
  margin-top: 13%;
  padding-top: 0;
}

.titulo-anuncio {
  text-align: center;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 25px;
}

#anuncio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #37474f;
  color: #ffffff;
}

.contenedor-anuncio {
  display: flex;
  align-items: center;
  max-width: 1200px;
  background-color: #455a64;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: auto;
}

.imagen {
  flex: 1;
}

.imagen img {
  width: 80%;
  height: auto;
}

.descripcion {
  flex: 2;
  padding: 20px;
  color: #cfd8dc;
}

.descripcion h2 {
  color: #eceff1;
  margin-top: 0;
}

.descripcion p {
  margin: 10px 0 0;
  color: #cfd8dc;
}